[submodule "udo-runtime"]
	path = udo-runtime
	url = https://github.com/tum-db/udo-runtime.git
[submodule "postgres"]
	path = postgres
	url = https://github.com/tum-db/postgres.git
	branch = udo
[submodule "llvm"]
	path = llvm
	url = https://github.com/tum-db/llvm-project.git
	branch = sichert/runtimedyld
